/*font-family: 'Poltawski Nowy', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sigmar', cursive;*/





h1,
h4 {
    font-family: sigmar;
    background-color: rgba(255, 0, 0, 0.849);
    color: white;
    max-width: auto;
    height: auto;
    border-style: dashed;
    border-width: 5px;
    border-color: rgb(128, 19, 0);
    border-radius: 40px;
    text-align: center;
}



.fondo_aqua {

    flex-direction: row;
    background-color: rgba(255, 0, 0, 0.24);
    margin: 10px;
    display: flex;
    justify-content: center;
   

}

.nav_pag {

    display: flex;
    gap: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


.fondo_imagen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
    background-color: rgba(139, 0, 0, 0.582);
    background-size: cover;
    border-style: groove;
    object-fit: cover;

}

.fondo_imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.oferta_1 {
    width: auto;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    gap: 20px;
object-fit: cover;

}

.oferta_1 img {
    width: 100%;
    height: 100%;
    

}

h2,
h3 {
    background-color: rgba(255, 0, 0, 0.356);
    width: 100%;
    height: auto;
    border-style: groove;
    border-width: 5px;
    border-color: rgb(128, 19, 0);
    border-radius: 40px;

    text-align: center;

}


.combo {
    display: flex;
    width: auto;
    height: 50vh;
    justify-content: center;
    align-items: center;
   
}

.img_combo {
    display: flex;
    width: 300px;
    height: auto;
   
}

.img_combo img {
    width: 100%
}

.fondo_verde {

    background-color: aqua;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px black solid;
    padding: 10px;
    
}

.btn {
    background-color: rgba(240, 128, 128, 0.966);
    width: 50px;
    height: 20px;
}

.flex_container {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.fondo_imagen_footer {

    width: 300px;
    height: 200px;

}

.fondo_imagen_footer img {
    width: 100%;
    height: 100%;
}

.fondo_imagen_footer_text {
    background-color: rgba(0, 255, 255, 0.178);
    text-align: start;
    width: 100%;
    border: 2px solid black;
}



/* -------- Grilla Ofertas -------- */

.grilla-oferta {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: repeat(2, minmax(300px, 40vh));
    justify-items: cover;
    gap: 20px;

}

.oferta-destacada {
    grid-row: span 2;

}

.oferta-destacada img {
    height: 100%;
    width: 100%;
}

.grilla-oferta img {

    height: 90%;
    width: 100%;
}

.btn-ofertas {
    background-color: rgba(255, 0, 0, 0.555);
    width: 200px;
    text-align: center;

}

@media(max-width: 480px) {
    
    .grilla-oferta {


        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: cover;
        gap: 20px;
        justify-items: center;
    }

    .oferta-destacada img {
        display: none;
    }

    .fondo_aqua {
        margin: 2px;
        display: flex;
        justify-content: center;

    }

    .nav_pag {

        display: flex;
        flex-direction: column;
        gap: 1px;
        font-family: cursive;
        font-size: x-small;

    }

    .oferta_1 {
        flex-direction: column;

    }

}



/*______PLANES_______*/



.frente-planes {
    background-color: rgba(0, 162, 255, 0.459);
    color: white;
    
    

}

.frente-planes-lista {

    padding: 10px;
  
    text-align: start;
   

}
.fuente1{
    background-color: blue;
    text-align: start;
    padding-bottom: 5px;
   font-family:   sans-serif;
   border: 1px solid ;
}
.fuente2{
    background-color: blue;
    text-align: center;
    padding-bottom: 5px;
   font-family:   sans-serif;
   border: 1px solid ;
}
.fuente3{
    background-color: blue;
    text-align: end;
    padding-bottom: 5px;
   font-family:   sans-serif;
   border: 1px solid ;
}
.ventas{
text-align: center;
}
.planes-imagenes {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 20px;
    
}
.planes-imagenes-3{
    grid-row: 1/3;
   

}
.planes-imagenes-3 img {
    height: 100%;
}
.iconos-footer{
height:15vh;
    background-color: rgba(255, 0, 0, 0.24);
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
.iconos-footer img{
   height: 100%;
}
.parrafo-footer{
    background-color: antiquewhite;
    text-align: left;
}



/*--------CObertura-----*/


.imagen-cobertura{
    display: flex;
    width: auto;
    height: auto;
}
.imagen-cobertura img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card {
    margin-top: 30px;
    margin-left: 30px;
    box-shadow: 0px 8px 5px;
    width: 450px;
    font-family: "Verdana", sans-serif;
  }
  .card__img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  .card__body {
    padding: 1.5rem;
  }
  .card__list {
    list-style: none;
    display: flex;
    gap: 100px;
    margin-bottom: 10px;
  }
  .card__item {
    padding: 0.3rem 0.5rem;
    background-color: #e6e6e6;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
 


  .card__btn {
    background-color: #2c8973;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    display: inline-block;
    margin-top: 30px;
  }
  .card__btn:hover {
    background-color: rgb(160, 95, 157);
  }
  
 
  
.caja{
display: flex;
justify-content:space-between;
gap: 30px;

}

.caja img{
    width: 100%;
    height: 100%;
    object-fit:cover
}
.tar-est1{
    padding-right: 18px;
  
    background-color: rgba(255, 0, 200, 0.233);
}
.tar-est2{
    padding-right: 100px;
  
    background-color: rgba(255, 0, 200, 0.233);
}
.tar-est3{
    padding-right: 122px;
  
    background-color: rgba(255, 0, 200, 0.233);
}
.tar-est4{
    padding-right: 93px;
  
    background-color: rgba(255, 0, 200, 0.233);
}
.tar-est5{
    padding-right: 6px;
  
    background-color: rgba(255, 0, 200, 0.233);
}

@media( max-width:480px) {
    .card{
        width: 380px;
    }
    .caja img{
        display: none;
    }
}