$color-rojo-h1: rgba(255, 0, 0, 0.849);
$color-borde-h1: rgb(255, 0, 0);
$color-principal:rgba(255, 0, 0, 0.24);
$color-legales:rgba(0, 255, 255, 0.178);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

h1
 {
    font-family:Arial, Helvetica, sans-serif;
    background-color: $color-rojo-h1;
    color: black;
    max-width: auto;
    height: auto;
    border-width: 5px;
    border-color: $color-borde-h1;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 2.5rem;
}
h2,
h3,h4 {
    background-color: $color-principal;
    width: 100%;
    height: auto;
    border-width: 2px;
    border-style: solid;
    border-color: $color-borde-h1;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5rem;
     
}