.imagen-cobertura {
    display: flex;
    width: auto;
    height: auto;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.caja {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover
    }
}
.tar-est1 {
    padding-right: 18px;

    background-color: $color-principal;
}

.tar-est2 {
    padding-right: 100px;

    background-color:$color-principal;
}

.tar-est3 {
    padding-right: 122px;

    background-color: $color-principal;
}

.tar-est4 {
    padding-right: 93px;

    background-color:$color-principal;
}

.tar-est5 {
    padding-right: 6px;

    background-color:$color-principal;
}

@media(max-width:880px) {

    .card {
        width: 380px;
        height: auto;
    }
    .caja_img_2{
        display: none;
    }
    .caja{
        display: flex;
    justify-content: center;
    }
}

   