.fondo_imagen_footer {

    width: 300px;
    height: 200px;

    img {
        width: 100%;
        height: 100%;
    }

}
.fondo_imagen_footer_text {
    background-color: $color-principal;
    text-align: start;
    width: 100%;
    border: 2px solid black;
}